@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #090a0b;
    --card: #ffffff;
    --card-foreground: #090a0b;
    --popover: #ffffff;
    --popover-foreground: #090a0b;
    --primary: #e11d48;
    --primary-foreground: #ffe5e6;
    --secondary: #f2f5f7;
    --secondary-foreground: #17181a;
    --muted: #f2f5f7;
    --muted-foreground: #6e7073;
    --accent: #f2f5f7;
    --accent-foreground: #17181a;
    --destructive: #d6293e;
    --destructive-foreground: #fafafa;
    --border: #e9ebec;
    --input: #e9ebec;
    --ring: #f61f4e;

    --radius: 0.5rem;
  }

  [data-theme='dark'] {
    --background: #0e0f11;
    --foreground: #ebebeb;
    --primary: #e5e5e5;
    --primary-foreground: #000000;
    --secondary: #1a1c26;
    --secondary-foreground: #d9d9d9;
    --accent: #1f212e;
    --accent-foreground: #ffffff;
    --destructive: #ff4d4d;
    --destructive-foreground: #fcfcfc;
    --muted: #404040;
    --muted-foreground: #d9d9d9;
    --card: #15171d;
    --card-foreground: #ebebeb;
    --popover: #1a1a1a;
    --popover-foreground: #d9d9d9;
    --border: #292929;
    --input: #292929;
    --ring: #f5f1f1;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-body;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}

.noPoster {
  filter: sepia(0.3) hue-rotate(-60deg) saturate(0.5) opacity(0.8);
}
